<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Hey</h1>
    <script>
      fetch("http://127.0.0.1:8000/api/v1/client-revenue/export/", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          clients: [1, 2, 3],
        }),
      }).then((data) => {
        data.blob().then((blob) => {
          let url = window.URL.createObjectURL(blob);
          let a = document.createElement("a");
          console.log(url);
          a.href = url;
          a.download = "Revenue.xlsx";
          a.click();
        });
      });
    </script>
  </body>
</html>
